# Ceremony files
ceremony/
contributions/
proving-keys/
contribution_*/

# URLs and credentials
*_urls.json
*.key
*.pem

# Binary
semaphore-mtb-setup/semaphore-mtb-setup

# Temp files
*.tmp
*.log
.DS_Store

service-account-key.json
**/service-account-key.json

# Public attestations allowlist
# Do not ignore the folder itself so contributors can PR their hash files
!attestations/**

check_files.sh
**/verification_hashes.txt

**/ceremony_contribution_*/

semaphore-mtb-setup/

ceremony-keys/
contributor/evals
light-protocol-keys/